@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer>
    <div class="footerContainer">
        <div>
            <div class="crito">
                <img src="images/logotype-white.svg" alt="" />
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
                    obcaecati voluptas voluptates! Voluptates laborum nam ratione
                    minus necessitatibus, iure praesentium.
                </p>
            </div>
            <div class="company">
                <h1>Company</h1>
                <ul>
                    <li>About</li>
                    <li>Features</li>
                    <li>Works</li>
                    <li>Career</li>
                </ul>
            </div>
            <div class="help">
                <h1>Help</h1>
                <ul>
                    <li>Customer Support</li>
                    <li>Delivery Details</li>
                    <li>Terms & Conditions</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
            <div class="resources">
                <h1>Resources</h1>
                <ul>
                    <li>Free eBooks</li>
                    <li>Development Tutorial</li>
                    <li>How to - Blog</li>
                    <li>Youtube Playlifa-stack</li>
                </ul>
            </div>
            <div class="link">
                <h1>Links</h1>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>LinkedIn</li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <div class="copyrightTxt">
                <h1>© 2023 Crito - Consulting Company Inc. All Rights Reserved.</h1>
            </div>
            <div class="linkIcons">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-linkedin"></i>
            </div>
        </div>
    </div>
</footer>