@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
}

<section class="indexFirstSection">
    <div class="indexFirstSectionContainer">
        <div class="left">
            <div class="headText">We Provide The Best Business Solutions</div>
            <div class="smallText">
                Establish your vision and value proposition and turn them into
                testable prototypes.
            </div>
            <div class="btnContainer">
                <div class="btnOne">
                    <h1>Get Consulting <i class="bi bi-arrow-up-right"></i></h1>
                </div>
                <div class="btnTwo">
                    <h1>Learn more <i class="bi bi-arrow-up-right"></i></h1>
                </div>
            </div>
        </div>
        <div class="right">
            <img src="images/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg" alt="" />
        </div>
    </div>
</section>

<section class="indexSecondSection">
    <div class="companies">
        <img src="images/logos/paperz_logo.png" alt="" />
        <img src="images/logos/dorfus_logo.png" alt="" />
        <img src="images/logos/martino_logo.png" alt="" />
        <img src="images/logos/square_logo.png" alt="" />
        <img src="images/logos/gobona_logo.png" alt="" />
    </div>
    <div class="accounting">
        <div class="accountFrame">
            <div class="accountingLeft">
                <div class="features">Features</div>
                <div class="headText">
                    Our Accounting is trusted by thousand of companies
                </div>
                <div class="btn">
                    <h1>Learn More <i class="bi bi-arrow-up-right"></i></h1>
                </div>
            </div>
            <div class="accountingRight">
                <div class="div1">
                    <span class="material-symbols-outlined"> handshake </span>
                    <div class="headText">Business Advice</div>
                    <div class="smallText">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </div>
                </div>
                <div class="div2">
                    <span class="material-symbols-outlined"> lightbulb </span>
                    <div class="headText">Startup Business</div>
                    <div class="smallText">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </div>
                </div>
                <div class="div3">
                    <span class="material-symbols-outlined">
                        deployed_code_alert
                    </span>
                    <div class="headText">Risk Management</div>
                    <div class="smallText">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </div>
                </div>
                <div class="div4">
                    <span class="material-symbols-outlined"> trending_up </span>
                    <div class="headText">Financial Advice</div>
                    <div class="smallText">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>